* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: 700;
}

a{
    height: 60px;
    width: 190px;
    border: 1px solid black;
    text-decoration: none;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 192, 192);
    color: black;
    border-radius: 24px;
}
  
span {
    display: block;
    margin: 10px; 
}
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
  
.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;

}

.button:hover{
    cursor: pointer;
}

h1{
    padding: 30px;
}

h2{
    padding: 30px;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
 background: blue;
}
#yellow {
  background: yellow;
}
#purple{
    background-color: purple;
}
#cyan{
    background-color: cyan;
}
#red{
    background-color: red;
}
#voilet{
    background-color: violet;
}